<form>
  <div class="form-group text-center"> Choose input currency
    <select class="text-center" required [(ngModel)]="inputCurrency" name="inputCurrency">
      <option selected="selected" disabled>input currency</option>
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{ currency }}</option>
    </select>
  </div>
  <div class="form-group text-center">
    <label for="number-input">Enter amount</label>
      <input class="form-control text-center" type="number" id="number-input" name="amount" [(ngModel)] = "amount">
  </div>
  <div class="form-group text-center"> Choose output currency
    <select class="text-center" required [(ngModel)]="outputCurrency" name="outputCurrency">
      <option selected="selected" disabled>output currency</option>
      <option *ngFor="let currency of currencies" [ngValue]="currency">{{ currency }}</option>
    </select>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-primary" (click)="calculate()">Calculate</button>
  </div>
  <div class="form-group text-center alert alert-success" *ngIf="result">
    Result: {{result.toFixed(2)}} {{outputCurrency}}
  </div>
</form>
